.card-body {
  background: #ffffff;
  width: calc(50vw - 100px);
  height: 500px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin: 0;
  padding: 0;
  font-size: 3em;
  padding: 50px 0 50px 0;
}

.card-button {
  background: #555555;
  color: white;
  font-size: 1.8em;
  width: 40%;
  height: 30%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.button:hover {
  background: #373737;
  color: white;
}

.button:active {
  background: #292929;
  color: rgb(164, 164, 164);
}

.manage-event-list > ul{
  list-style: none;
  padding-left: 0;
}

.manage-event-list-item {
  background: #bfbebe;
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 40px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.manage-event-list-item + .manage-event-list-item {
  margin-top: 10px;
}

.manage-event-list-item-button {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background: #555555;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-hidden {
  display: none;
}
