.attendees-title {
  border-bottom: 1px solid #68768c;
  width: 30%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.attendees-title > h1 {
  margin: 0;
}

.delete-event-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background: #de4646;
  color: white;
}