.attendees-title {
  border-bottom: 1px solid #68768c;
  width: 30%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.attendees-title > h1 {
  margin: 0;
}

.around-card-manage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.around-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  color: white;
}

.cancel-manage {
  background: #8f7d7d;
}

.delete-manage {
  background: #de4646;
  margin-bottom: 20px;
}